body {
    background-color: dimgrey;
}

a:link, a:active, a:visited {
    color: darkred;
}
a:hover {
    color: crimson;
}

.posting-panel {
    background-color: darkgrey;
}

.post-panel {
    background-color: white;
}

.pell-content {
    background-color: #FFF;
    height: auto;
}